<div class="container d-none">
  <div class="row">
    <div class="col-md-3">
      <h2>Lines (Original)</h2>
      <p class="mb-0" *ngFor="let line of partOneLinesOriginal">{{line}}</p>
    </div>
    <div class="col-md-3">
      <h2>Lines (Stripped)</h2>
      <p class="mb-0" *ngFor="let line of partOneLinesStripped">{{line}}</p>
    </div>
    <div class="col-md-3">
      <h2>Lines (Ready)</h2>
      <p class="mb-0" *ngFor="let line of partOneLinesReady">{{line}}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Lines (Original)</h2>
      <p class="mb-0" *ngFor="let line of partTwoLinesOriginal">{{line}}</p>
    </div>
    <div class="col-md-3">
      <h2>Lines (Parsed)</h2>
      <p class="mb-0" *ngFor="let line of partTwoLinesParsed">{{line}}</p>
    </div>
    <div class="col-md-3">
      <h2>Lines (Stripped)</h2>
      <p class="mb-0" *ngFor="let line of partTwoLinesStripped">{{line}}</p>
    </div>
    <div class="col-md-3">
      <h2>Lines (Ready)</h2>
      <p class="mb-0" *ngFor="let line of partTwoLinesReady">{{line}}</p>
    </div>
  </div>
</div>
